div {
  animation: mysquare 2s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-iteration-count: 2;
}

div:hover {
  animation-play-state: paused;
}

@keyframes mymove {
    from{left: 0px;}
    to{left: 200px;}
}

@keyframes mysquare {
  0% {
    left: 0%;
    top: 0%; 
  }
  25% {
    left: 10%;
    top: 0%;
  }
  50% {
    left: 10%;
    top: 10%;
  }
  75% {
    left: 0%;
    top: 10%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}

#bounce-title {
  animation: tweerk 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-direction: alternate;
  position: relative;
}

@keyframes tweerk {
  0%{
    bottom: 100px;
  }
  100%{
    bottom: 0%;
    transform: scaleY(0.5);
  }
}